.connect {
	width: 100vw;
	min-height: 100vh;
	background-color: #f8f9fa;
	display: flex;
	align-items: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.box {
	display: flex;
	flex: 1;
	width: 100%;

	margin: 1rem 0;

	padding: 2rem;
	align-items: center;

	flex-direction: column;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 10px 25px -12px rgba(black, 0.1);
}

.item {
	border: 1px solid #e6e6e7;
	box-sizing: border-box;
	border-radius: 8px;

	padding: 20px;

	width: 100%;
	display: flex;
	align-items: center;
	transition: 0.2s ease;
	cursor: pointer;

	margin-bottom: 0.5rem;

	&:hover {
		background-color: #f9f9f9;
	}

	// &:nth-child(1) {
	// 	border-bottom-left-radius: 0;
	// 	border-bottom-right-radius: 0;
	// }

	// &:nth-child(2) {
	// 	border-radius: 0;
	// }

	// &:nth-child(3) {
	// 	border-top-left-radius: 0;
	// 	border-top-right-radius: 0;
	// }

	svg {
		margin-left: auto;
	}
}
