.dashboard {
	.nftsGrid {
		display: grid;
		list-style: none;
		grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
		grid-gap: 36px;
	}

	@media (min-width: 1600px) {
		.nftsGrid {
			grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
		}
	}

	.container-large .nftsGrid,
	.nftsGrid.container-large {
		grid-gap: 48px;
	}

	@media (min-width: 1600px) {
		.container-large .nftsGrid,
		.nftsGrid.container-large {
			grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
		}
	}

	.nftsGrid.shot-grid-large {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.nftsGrid {
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			margin: 0 calc(-48px / 2);
			-ms-flex-pack: center;
			justify-content: center;
		}
	}

	@media all and (-ms-high-contrast: none) and (min-width: 768px),
		(-ms-high-contrast: active) and (min-width: 768px) {
		.nftsGrid {
			-ms-flex-pack: start;
			justify-content: flex-start;
		}
	}
}
