html,
body {
	padding: 0;
	margin: 0;
	font-family: "Greycliff", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.text-left {
	text-align: left;
}

.pl-20 {
	padding-left: 20px;
}

.mb-3 {
	margin-bottom: 1.25rem !important;
}

.text-gray {
	color: #666;
	font-size: 0.9em;
}

svg {
	display: inline-block !important;
}

.mb-1 {
	margin-bottom: 0.5rem;
}
.mb-2 {
	margin-bottom: 1rem;
}

.connect-wallet {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 16px;

	background: #4047ff;
	box-shadow: 0px 18px 20px rgba(64, 71, 255, 0.15);
	border-radius: 60px;

	cursor: pointer;

	color: #ffffff;

	font-weight: bold;

	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0;

	transition: 0.2s ease-in-out;
}

.connect-wallet.min {
	width: 12rem;
	margin: 2rem auto;
	max-width: 100%;
	box-shadow: 0 21px 33px rgb(64, 71, 255, 0.3), 0 0 0 11px rgb(255, 255, 255, 0.4);
}

.connect-wallet svg {
	display: inline-block;
	margin-right: 8px;
}

.connect-wallet:hover {
	background-color: #2429ad;
}

.header-l {
	padding: 1.5rem 0;
}

.header-links {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	font-weight: 500;
}

.header-links li a {
	display: block;
	padding: 1em;
	color: #939797;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

.header-links li a:hover {
	color: #071013;
}

.tg-hero-title {
	font-size: clamp(2rem, 4vw - 1rem, 5rem);
	line-height: 1.125;
	font-weight: 800;
	margin: 0;
	letter-spacing: -0.03em;
}

.tg-title {
	font-size: clamp(1.75rem, 1.5vw + 1.1rem, 2.25rem);
	line-height: 1.25;
	font-weight: 800;
	margin: 0;
	letter-spacing: -0.03em;
}

.tg-desc {
	font-size: clamp(1rem, 1.2vw + 1rem, 1.25rem);
	line-height: 1.618;
	margin: 0;
	font-weight: 700;
	letter-spacing: -0.02em;
	word-spacing: -0.02em;
}

.tg-paragraph {
	font-size: clamp(0.875rem, 0.7813rem + 0.4167vw, 1.25rem);
	line-height: 1.5;
	margin: 0;
	font-weight: normal;
	letter-spacing: -0.01em;
}

.brand-color {
	color: #4047ff;
}

.text-center {
	text-align: center;
}

.section {
	margin: 5rem 0;
}

.footer {
	background-color: #e4e9ee;
	padding: 4rem 0;
}

.footer-links {
	list-style-type: none;
}

.footer-links li a {
	display: block;
	padding: 0.25em 0;
	color: rgba(#071013, 0.5);
	transition: 0.2s ease-in-out;
}

.footer-links li a:hover {
	color: rgba(#071013, 0.9);
}

.footer .tg-paragraph {
	width: 24rem;
	padding-left: 0.25rem;
	font-size: 16px;
	max-width: 100%;
}

.footer .tg-desc {
	font-size: clamp(1rem, 1.2vw + 1rem, 1.25rem);
	line-height: 1.618;
	margin-top: 1rem;
	font-weight: 700;
	letter-spacing: -0.02em;
	word-spacing: -0.02em;
}

.footer .second {
	margin-top: 4rem;
	color: #071013;
}

.footer .socials a {
	display: inline-block;
	margin: 0 8px;
}

.overlay {
	position: fixed;
	z-index: 2;
	background: rgba(0, 0, 0, 0.5);
	will-change: opacity;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal--body {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.modal {
	width: 30rem;
	background-color: #fff;
	padding: 1rem;
	max-width: 100%;
	box-shadow: 0 2px 90px rgba(0, 0, 0, 0.3);

	border: 2px solid;
	border-radius: 20px;
}
/* @media (min-width: 1600px) {
	.modal {
		width: 48rem;
		font-size: 1.25em;
	}
} */
.modal-close {
	position: fixed;
	z-index: 4;
	top: 1rem;
	left: 1rem;
}

.icon {
	font-size: 32px;
	font-weight: bold;
	letter-spacing: 32px;
	position: relative;
}

.confetti {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.confetti-piece {
	position: absolute;
	width: 8px;
	height: 16px;
	background: #000;
	top: 0;
	opacity: 0;
}
.confetti-piece:nth-child(1) {
	left: 7%;
	transform: rotate(36deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 0ms;
	animation-delay: 0ms;
	-webkit-animation-duration: 910ms;
	animation-duration: 910ms;
}
.confetti-piece:nth-child(2) {
	left: 14%;
	transform: rotate(35deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 90ms;
	animation-delay: 90ms;
	-webkit-animation-duration: 844ms;
	animation-duration: 844ms;
}
.confetti-piece:nth-child(3) {
	left: 21%;
	transform: rotate(19deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 369ms;
	animation-delay: 369ms;
	-webkit-animation-duration: 759ms;
	animation-duration: 759ms;
}
.confetti-piece:nth-child(4) {
	left: 28%;
	transform: rotate(-18deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 197ms;
	animation-delay: 197ms;
	-webkit-animation-duration: 1109ms;
	animation-duration: 1109ms;
}
.confetti-piece:nth-child(5) {
	left: 35%;
	transform: rotate(-22deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 242ms;
	animation-delay: 242ms;
	-webkit-animation-duration: 1108ms;
	animation-duration: 1108ms;
}
.confetti-piece:nth-child(6) {
	left: 42%;
	transform: rotate(-68deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 487ms;
	animation-delay: 487ms;
	-webkit-animation-duration: 1121ms;
	animation-duration: 1121ms;
}
.confetti-piece:nth-child(7) {
	left: 49%;
	transform: rotate(-41deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 389ms;
	animation-delay: 389ms;
	-webkit-animation-duration: 932ms;
	animation-duration: 932ms;
}
.confetti-piece:nth-child(8) {
	left: 56%;
	transform: rotate(10deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 307ms;
	animation-delay: 307ms;
	-webkit-animation-duration: 938ms;
	animation-duration: 938ms;
}
.confetti-piece:nth-child(9) {
	left: 63%;
	transform: rotate(75deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 397ms;
	animation-delay: 397ms;
	-webkit-animation-duration: 841ms;
	animation-duration: 841ms;
}
.confetti-piece:nth-child(10) {
	left: 70%;
	transform: rotate(69deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 285ms;
	animation-delay: 285ms;
	-webkit-animation-duration: 983ms;
	animation-duration: 983ms;
}
.confetti-piece:nth-child(11) {
	left: 77%;
	transform: rotate(-53deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 26ms;
	animation-delay: 26ms;
	-webkit-animation-duration: 840ms;
	animation-duration: 840ms;
}
.confetti-piece:nth-child(12) {
	left: 84%;
	transform: rotate(-1deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 195ms;
	animation-delay: 195ms;
	-webkit-animation-duration: 1157ms;
	animation-duration: 1157ms;
}
.confetti-piece:nth-child(13) {
	left: 91%;
	transform: rotate(-43deg);
	-webkit-animation: makeItRain 1000ms infinite ease-out;
	animation: makeItRain 1000ms infinite ease-out;
	-webkit-animation-delay: 275ms;
	animation-delay: 275ms;
	-webkit-animation-duration: 1089ms;
	animation-duration: 1089ms;
}
.confetti-piece:nth-child(odd) {
	background: var(--brand-color);
}
.confetti-piece:nth-child(even) {
	z-index: 1;
}
.confetti-piece:nth-child(4n) {
	width: 5px;
	height: 12px;
	-webkit-animation-duration: 2000ms;
	animation-duration: 2000ms;
}
.confetti-piece:nth-child(3n) {
	width: 3px;
	height: 10px;
	-webkit-animation-duration: 2500ms;
	animation-duration: 2500ms;
	-webkit-animation-delay: 1000ms;
	animation-delay: 1000ms;
}
.confetti-piece:nth-child(4n-7) {
	background: var(--brand-color);
}

@-webkit-keyframes makeItRain {
	from {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		transform: translateY(200px);
	}
}

@keyframes makeItRain {
	from {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	to {
		transform: translateY(200px);
	}
}
