.intro {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 140vh;
		background-position: center top;
		background-repeat: no-repeat;
		background-size: contain;
		filter: blur(120px);
		opacity: 0.4;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAABPklEQVR42k3KwUrjUBhA4XOTP00TpqXQcSPjwAy4n6UPMDAwK1/Fh3LlK7hwI4gKgjvRhVgpVZva1jS5ubm5v116NmfzmbCNLxkMqEXdChoLXiEYxHcKYDpQz/YmkNYT+vNrmBdQohoSpHIdtaIvnfLQRvrQBHbWc/7MbtifXJFv+hAPkdIFZo2a85Xq8ULN5XsMfpfD7oC/vuXA3+q+mWGeChse196cTVo9naqZlkIihrthRIimHJWn+k/vESHQd57vy4rfbw1FrdSS8suOWOR7nLT/uWiXSKzK0DbsLddMX0seK89lkrKTBtL+iMLs8ux/IlHbMaocP5aWpy0cF5aR9CgHQpYn5BLTQ5HEdQw2nfoNjD9UBy+Wb+6DzTBgxluYC04yJLWetFYyF5G1QlZF9BYNrArwGTLOMFnMJziKroaiR95JAAAAAElFTkSuQmCC);

		z-index: -1;
	}
	.tg-hero-title {
		margin-top: 0.5em;
	}

	// .cover {
	// 	display: block;
	// 	margin: 0 auto;
	// 	height: auto;
	// 	width: 100%;
	// 	object-fit: cover;
	// }

	.tg-paragraph {
		width: 42rem;
		max-width: 100%;
		margin: -3rem auto 1rem;
		font-weight: 500;
		font-size: 1.67rem;
	}
}

.about {
	margin-top: 12rem;

	.tick svg {
		position: relative;
		top: -5px;
		display: inline-block;
	}

	ul {
		margin-top: 1em;
		list-style-type: none;
		li {
			font-size: 1.1rem;
			line-height: 2;
			&:before {
				content: "";
				width: 20px;
				height: 20px;
				display: inline-block;
				background-size: cover;
				vertical-align: middle;
				margin-right: 0.5em;
				background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.19 2H7.81C4.17 2 2 4.17 2 7.81V16.18C2 19.83 4.17 22 7.81 22H16.18C19.82 22 21.99 19.83 21.99 16.19V7.81C22 4.17 19.83 2 16.19 2ZM16.78 9.7L11.11 15.37C10.97 15.51 10.78 15.59 10.58 15.59C10.38 15.59 10.19 15.51 10.05 15.37L7.22 12.54C6.93 12.25 6.93 11.77 7.22 11.48C7.51 11.19 7.99 11.19 8.28 11.48L10.58 13.78L15.72 8.64C16.01 8.35 16.49 8.35 16.78 8.64C17.07 8.93 17.07 9.4 16.78 9.7Z' fill='%234047FF'/%3E%3C/svg%3E%0A");
			}
		}
	}
}

.world {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 100vw;
		height: 220vh;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: cover;
		filter: blur(120px);
		transform: rotate(180deg);
		opacity: 0.25;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAABPklEQVR42k3KwUrjUBhA4XOTP00TpqXQcSPjwAy4n6UPMDAwK1/Fh3LlK7hwI4gKgjvRhVgpVZva1jS5ubm5v116NmfzmbCNLxkMqEXdChoLXiEYxHcKYDpQz/YmkNYT+vNrmBdQohoSpHIdtaIvnfLQRvrQBHbWc/7MbtifXJFv+hAPkdIFZo2a85Xq8ULN5XsMfpfD7oC/vuXA3+q+mWGeChse196cTVo9naqZlkIihrthRIimHJWn+k/vESHQd57vy4rfbw1FrdSS8suOWOR7nLT/uWiXSKzK0DbsLddMX0seK89lkrKTBtL+iMLs8ux/IlHbMaocP5aWpy0cF5aR9CgHQpYn5BLTQ5HEdQw2nfoNjD9UBy+Wb+6DzTBgxluYC04yJLWetFYyF5G1QlZF9BYNrArwGTLOMFnMJziKroaiR95JAAAAAElFTkSuQmCC);

		z-index: -1;
	}
	.box {
		background-color: #dbe3fe;
		border-radius: 32px;
		padding: 3rem 3rem 0;
		box-shadow: 0 24px 120px -20px rgba(#8299d7, 0.7);
	}

	h2 {
		span {
			font-size: 1.2em;
		}
		margin-bottom: 2rem;
	}

	p {
		color: rgba(#071013, 0.7);
		margin-bottom: 2rem;
	}

	img {
		display: block;
	}

	.cover {
		margin-top: 1rem;
	}
}

.investors {
	margin-top: 10rem;
	h3 {
		margin-bottom: 0.5em;
	}
	p {
		color: rgba(#071013, 0.6);
		margin-bottom: 1em;
	}
}

.faq {
	.question {
		margin: 0;
		border-bottom: 1px solid #eee;
		&__headline {
			padding: 1rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-radius: 10px;
			margin: 1rem 0;
			// background-color: #fff;
			transition: 0.4s ease;
			cursor: pointer;

			.icon {
				width: 36px;
				height: 36px;

				transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

				&.is-open {
					transform: rotate(180deg);
				}
			}

			.tg-desc {
				color: #071013;
				font-weight: 700;
			}

			&:hover {
				box-shadow: 0px 0px 44px -7px rgba(0, 0, 0, 0.12);
			}
		}
		&__answer {
			padding: 0 1rem 1rem;
			color: #071013;

			// display: none;

			user-select: none;
		}
	}
}
